<!DOCTYPE html>
<html>
<head>
    <title>Token Receiver</title>
</head>
<body>
<script>
    // 토큰 정보 추출
    const urlParams = new URLSearchParams(window.location.search);
    const accessToken = urlParams.get('access_token');
    const refreshToken = urlParams.get('refresh_token');

    // 토큰 정보를 Local Storage에 저장
    localStorage.setItem('access_token', accessToken);
    localStorage.setItem('refresh_token', refreshToken);


    // Google API의 UserInfo 엔드포인트 URL
    const userInfoEndpoint = 'https://www.googleapis.com/oauth2/v3/userinfo';

    // UserInfo 요청을 위한 헤더 설정
    const headers = {
        'Authorization': `Bearer ${accessToken}`
    };

    // UserInfo 요청 보내기
    fetch(userInfoEndpoint, {
        method: 'GET',
        headers: headers
    })
        .then(response => response.json())
        .then(data => {
            // 사용자 실명 정보 추출
            const userFirstName = data.given_name; // 성
            const userLastName = data.family_name; // 이름

            // 사용자 실명 출력
            console.log('First Name:', userFirstName);
            console.log('Last Name:', userLastName);
        })
        .catch(error => {
            console.error('Error fetching user info:', error);
        });
    // 확인을 위해 로그에 토큰 정보 출력
    console.log('Access Token:', accessToken);
    console.log('Refresh Token:', refreshToken);
</script>
</body>
</html>